body{
    font-family: Arial, sans-serif;
    margin:0;
    background:#f4f4f4;
}

nav{
    background:#003366;
    padding:15px;
}

nav a{
    color:white;
    text-decoration:none;
    margin-right:20px;
    font-weight:bold;
}

.hero{
    text-align:center;
    padding:80px;
    background:#e8f0ff;
}

.hero h1{
    color:#003366;
}

button{
    padding:10px 20px;
    border:none;
    background:#003366;
    color:white;
    cursor:pointer;
}

.card{
    background:white;
    margin:20px;
    padding:20px;
    border-radius:10px;
}

footer{
    background:#003366;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:20px;
}